

.container-fluid{
    padding: 0;
    width: 100%;
    height: 20%;
}

h1{
    line-height: 1;
    margin: auto;
    padding: 1% 2% 0.5%;
    border: 0;
    font-size: 2.5rem;
}


span{
    padding: 0 2%;
}

.heading-logo{
    width: 80px;
    margin: none;
    border: 0;
    padding: 0 3px 4.5px;
    position: relative;
    
}

.iDC{
    height: 60px;
    width: 60px;
    padding: 0 3px 22px;
}
.headingDiv{
    background-color: #f6f5f1;
    margin: none;
    padding: none;
}

/* sub heading */

#SubHeading{
    height: 30%;
    width: 100%;
    background-image: url("../Compass_prof_school_left_banner.jpg");
    background-repeat: none;
    background-size: cover;   
}

.box{
    height: auto;
    width: 100%;
}

.banner-heading{
    padding: 5% 18% 2%;
    color: yellow;
    font-size: 2.25rem;
    font-size: calc(1.5rem + 1vw);
    
}

.view-card{
    color: white;
    font-size: 1.50rem;
    padding: 0 0 7% 18%;
    
}

/* insight card */

#InsightsCard{
    background-color:#bce6eb;
    width: 100%;
    height: 30%;
}

h2{
    text-align: center;
    padding: 2% 0 ;
    font-size: 2rem;
    
}
.dammy-img{
    height: 50%;
    width: 80%;
   
}
.img-position{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
}

/* Report */

#Report{
    height: 100%;
    width: 100%;
    background-image: url("../images/Compass/compass-bg.jpg");
    background-repeat: none;
    background-size: cover; 
    padding: 0;
    margin: 0;
}

h4{
    text-align: center;
    padding-bottom: 5%;
    font-size: 1.5rem;
}

.first-row{
    background-color: orange;
    border-left: hidden;
    padding: 10px;
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center;
    color: seashell;
}

.second-row{    
    font-weight: 700; 
    font-size: 1.75rem;
    padding: 10px;   
}

.free{
    color: green;
}



.table-container{
   padding: 0 8% 5%;
   height: 100%;
   width: 100%;
   margin: 0;
   
  
}

.table-container table{
    background-color: whitesmoke;
    border: 1px solid grey;
    width: 100%;
    margin: 0;
    
}


th { 
    border: 1px solid;
    border-color:  #d9e4dd;
    
    
}

td{
    text-align: center;
    border: 1px solid;
    border-color: #e8e8e8;
}

.grey{
    background-color: #d6d2c4;
    padding: 10px 15px;
    
}

.button{
    border-radius: 15px;
}

.smreport{
    padding: 1%;     
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {

    /* for table  */

    #table-container{
        padding: 0 5px 15px 5px;
    }

    .first-row{

        font-size: .6rem;
        padding: 0%;
    }

    .second-row {

        font-size: 1rem;
        padding: 0%;
    }

    .grey{

        padding: 0%;
        font-size: .5rem;
    }

    .button{

        font-size: .4rem;
    }

    .last-col{
        padding-right: 5px;
        padding-left: 5px;
    }
}
    

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 601px) and (max-width: 1024px) {

    #table-container{
        padding: 0 5px 15px 5px;
    }

    .first-row{

        font-size: .6rem;
        padding: 0%;
    }

    .second-row {

        font-size: 1rem;
        padding: 0%;
    }

    .grey{

        padding: 0%;
        font-size: .5rem;
    }

    .button{

        font-size: .4rem;
    }

    .last-col{
        padding-right: 5px;
        padding-left: 5px;
    }


}


/* Payment */

#Payment{
    background-color:#19d3da;
    width: 100%;
    height: 20%;
}

.sec-card{
    padding: 5% 10%;
    
    
}

.card-body{
    padding: 0 0 4%;   
}
.card{
    border-radius: 1rem;
    border: 0;
    height: 100%;
    width: 100%;
}

.tucareer-img{
    padding: 2% auto;
    height: 15%;
    width: 50%;
    background-size: cover;
}

.imgFitR{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-header{
    padding: 0;
    margin: 0;
}
h6{
    padding: 2% 3%;
    margin: 0;
    font-size: 0.5rem;

}
.card-title1{
    text-align: center;
    font-size: 1.5rem;
    background-color: #751aff;
    color: white;
    border: hidden;
    border-radius: 1rem 1rem 0 0 ;
}

.card-title2{
    text-align: center;
    font-size: 1.5rem;
    background-color:orange;
    color: white;
    border: hidden;
    border-radius: 1rem 1rem 0 0 ;
}


.line-height{
    line-height: 2.1rem;
}


.card-text{
    text-align: left;
    padding: 1% 8%;
    font-weight: 600;
}

ul{
    text-align: left;
    padding: 0 10% ;
}

.btn-position{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 7%;
 }

.Button {
    -webkit-border-radius: 72px;
    -moz-border-radius: 72px;
    border-radius: 72px;
    height: 35pxpx;
    line-height: 20px;
    color: #000000;
    font-family: Open Sans;
    width: 400px;
    font-size: 25px;
    font-weight: 600;
    padding: 16px;
    background-color: #BABDC1;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .Button:hover {
    border: solid #FFFFFF 1px;
    background: rgba(255, 255, 255, 0.36);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.36), rgba(229, 234, 240, 0.08));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.36), rgba(229, 234, 240, 0.08));
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.36), rgba(229, 234, 240, 0.08));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.36), rgba(229, 234, 240, 0.08));
    background-image: -webkit-gradient(to bottom, rgba(255, 255, 255, 0.36), rgba(229, 234, 240, 0.08));
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 a{
     text-align: center;
     text-decoration: underline;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0 20%;
 }

 .col-md-6{
     padding: 5%;
 }
 .col-sm-12{
     padding-bottom: 10%;
 }

/* tablet */

@media (min-width: 768px) and (max-width: 1024px) {

    .line-height{
        line-height: 1.8rem;

    }
    .col-md-6{
        padding: 3%;
    }

    .card-title1{
        padding: 6.5% 0;
    }
    
}

/* med laptop */
@media (min-width: 1024px) and (max-width: 1169px) {

    .line-height{
        line-height: 1.7rem;

    }
    .col-md-6{
        padding: 3%;
    }

    .card-title1{
        padding:5.5% ;
    }
    
}
/* large laptop */
@media (min-width: 1169px) and (max-width: 1440px) {

    .line-height{
        line-height: 2.4rem;

    }
    .col-md-6{
        padding: 5%;
    }   
}
